@import "src/app/shared/variables.scss";
.banner-container {
  @each $property, $value in $flex-center-styles {
    #{$property}: $value;
  }
  // background-image: url("../../assets/images/background.jpg");
  background-image: $backgroung-image;
  background-size: cover;
  background-position: center center;
  .banner-button {
    width: 24%;
    height: 18%;
    padding: 15px 0;
    background: linear-gradient(to right, #dad8d8, white);
    // background-color: rgb(235, 235, 235);
    color:  #333;
    font-size: large;
    border: 1px solid gray;
    // border-radius: 10px;
    margin: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    /*   hover effect */
    transition: color 0.3s ease, border-bottom 0.3s ease;

    &:hover {
      color: rgb(68, 67, 67); /* Change text color to blue on hover */
      border-bottom: 2px solid rgb(68, 67, 67);  /* Show line underneath on hover */
      text-decoration: underline; /* Add underline on hover */
    }
  }
  // Add media query for smaller screens
  @media (max-width: 768px) {
    .banner-button {
      font-size: 14px;
    }
  }
}
