<div class="login-container">
  <img class="logo" src="assets/images/naiyani-log.png" alt="Logo" />
  <ng-container *ngIf="!showSignupForm; else signupFormTemplate">
    <!-- Login Form -->
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
                 id="username"
                 formControlName="username" />
          <div
            *ngIf="
              loginForm.get('username').invalid &&
              (loginForm.get('username').dirty ||
                loginForm.get('username').touched)
            "
            class="error-message"
          >
            Username is required.
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 formControlName="password" />
          <div
            *ngIf="
              loginForm.get('password').invalid &&
              (loginForm.get('password').dirty ||
                loginForm.get('password').touched)
            "
            class="error-message"
          >
            Password is required
          </div>
        </div>
        <a routerLink="/product-demo">
          <button 
          type="submit"
          [disabled]="loginForm.invalid">Login</button></a
        >
      </form>
      <p class="switch-link">
        Don't have an account yet?
        <a (click)="switchToSignupForm()">Create one</a>
      </p>
    </div>
  </ng-container>

  <ng-template #signupFormTemplate>
    <!-- Signup Form -->
    <div class="form-container">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="form-group">
          <label for="signup-username">Username</label>
          <input
            type="text"
            id="signup-username"
            formControlName="signupUsername"
          />
          <div
            *ngIf="
              signupForm.get('signupUsername').invalid &&
              (signupForm.get('signupUsername').dirty ||
                signupForm.get('signupUsername').touched)
            "
            class="error-message"
          >
            Username is required.
          </div>
        </div>

        <div class="form-group">
          <label for="signup-password">Password</label>
          <input
            type="password"
            id="signup-password"
            formControlName="signupPassword"
          />

          <div
            *ngIf="
              signupForm.get('signupPassword').invalid &&
              (signupForm.get('signupPassword').dirty ||
                signupForm.get('signupPassword').touched)
            "
            class="error-message"
          >
            Password must be at least 5 characters long and contains a special
            character.
          </div>
        </div>

        <a routerLink="/product-demo">
          <button type="submit" [disabled]="signupForm.invalid">
            Sign Up
          </button></a
        >
      </form>
      <p class="switch-link">
        Already have an account? <a (click)="switchToLoginForm()">Log in.</a>
      </p>
    </div>
  </ng-template>
</div>
