.logo-container {
  // background-color:#ADD8E6;
  // background-color: #A2CFF5;
  // background-color: #A2CFF5;
  // background-color: #ADD8E6;
  // background-image: url('assets/images/background.jpg');

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover; 
  background-position: center center;
  .logo {
    width: auto;
    height: auto;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    flex-direction: row;
    padding: 0px;

    .logo {
      width: auto;
      margin: 0;
    }
  }
}
