<!-- <p>leads-list works!</p> -->
<div class="table-name"><b style="color: rgb(49, 9, 87)">Leads List</b></div>
<div class="custom-header custom-row">
  <p-table [value]="product" class="custom-data">
    <ng-template pTemplate="header">
      <tr
        style="
          box-shadow: 0px 0px 0px 10px white;
          border: 1px solid rgb(10, 10, 10);
        "
      >
        <th>PRODUCT IMAGE</th>
        <th>PRODUCT NAME</th>
        <th>ASIN</th>
        <th>AMAZON FBA ESTIMATED FEES</th>
        <th>ESTIMATED MONTHLY SALES</th>
        <th>EST.SALES RANK</th>
        <th>SALES RANK(30 DAYS)</th>
        <th>SALES RANK(90 DAYS)</th>
        <th>SOURCING URL</th>
        <th>SOURCING PRICE</th>
        <th>AMAZON URL</th>
        <th>AMAZON PRICE</th>
        <th>AMAZON ON LISTING</th>
        <th>NUMBER OF SELLERS ON THE LISTINGS</th>
        <th>NUMBER OF REVIEWS</th>
        <th>ESTIMATED GROSS PROFIT</th>
        <th>ESTIMATED GROSS PROFIT MARGIN</th>
        <th>ESTIMATED NET PROFIT</th>
        <th>ESTIMATED NET PROFIT MARGIN</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-pro>
      <tr>
        <!-- <td>{{ pro.vin }}</td> -->
        <td><img [src]="pro.pro_img" alt="Product Image" width="70" /></td>

        <td>{{ pro.pro_name }}</td>
        <td>{{ pro.asIn }}</td>
        <td>{{ pro.eFee }}</td>
        <td>{{ pro.monthlySales }}</td>
        <td>{{ pro.estRank }}</td>
        <td>{{ pro.eRank30 }}</td>
        <td>{{ pro.eRank90 }}</td>
        <td>{{ pro.srcUrl }}</td>
        <td>{{ pro.scrPrice }}</td>
        <td>{{ pro.amazonUrl }}</td>
        <td>{{ pro.amazonPrice }}</td>
        <td>{{ pro.amazonList }}</td>
        <td>{{ pro.noOfsellers }}</td>
        <td>{{ pro.noOfReviews }}</td>
        <td>{{ pro.estGrossProfit }}</td>
        <td>{{ pro.estProfitMargin }}</td>
        <td>{{ pro.estNetProft }}</td>
        <td>{{ pro.netProfitMargin }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
