@import "~primeicons/primeicons.css";
.custom-header {
  th {
    background-color: white;
    border-right: none;
    padding: 4px;
    // border: 1px solid black; /* Add border to header cells */
    text-align: center;
    text-align: center;
    overflow-wrap: break-word;
    font-size: x-small;
  }
  margin: 10px 5px 0 5px;
}
.table-header {
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: large;
}

.table-name {
  text-align: left;
}

.logo-container {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
}

.logo {
  width: 150px;
  height: auto;
}
.top-paginator {
  text-align: center;
}
.custom-row {
  td {
    /* Add bottom border to each cell */
    // background-color: rgb(218, 237, 255);
    border-bottom: 1px dotted black;
    text-align: center;
    padding: 2px;
    /* Remove borders from other sides */
    border-top: none;
    border-left: none;
    border-right: none;
  }
}
.custom-data {
  td {
    text-align: center;
  }
}


.product-image {
  max-width: 70px; /* Adjust as needed */
  max-height: 70px; /* Adjust as needed */
}
